
@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixed-Thin.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedThin.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixed-ThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixed-ThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixed-ThinItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedThinItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtraLight.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedExtraLight.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtraLightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixed-Light.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedLight.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixed-LightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixed-LightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixed-LightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedLightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixed-Regular.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixed-Extended.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixed-Oblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixed-Oblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixed-Italic.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixed-Medium.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedMedium.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixed-MediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixed-MediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixed-MediumItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedMediumItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixed-SemiBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedSemiBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixed-SemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixed-SemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixed-SemiBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixed-Bold.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixed-BoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixed-BoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixed-BoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtraBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedExtraBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtraBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixed-Heavy.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedHeavy.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixed-HeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaFixed-HeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixed-HeavyItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaFixed-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaFixed-ExtendedHeavyItalic.ttf') format('truetype');
}
